/* Responsive styles for screen viewports of min-width 563px */

@media screen and (min-width: 563px) {

	.header__title {
		font-size: 4em;
	}

	.hero {
		width: 60%;
		order: -2;
	}

	.weather {
		width: 40%;
		/*order: -1;*/
	}

	.top-news {
		width: 40%;
		order: -1;
	}

	.scores {
		width: 60%;
	}

	.news__title {
		font-size: 24px;
		font-weight: 400;
	}

	.weather__location {
		font-weight: 400;
	}
}
