.content {
  display: flex;
  flex-wrap: wrap;

}


.header__menu {
  display: none;
}

.hero, .top-news, .scores, .weather, .recent-news {
  order: 10;
}

a#menu svg {
        width: 48px;
        fill: orange;
      }


/*
 *
 * Media Queries
 *
 */



@media screen and (max-width: 466px) {
  .header__logo {
    height: 48px;
    margin-right: 0.5em;
  }
  .header__title {
    margin-left: 0;
    font-size: 2.5em;
    vertical-align: bottom; 
  }
  .nav-top {
    z-index: 10;
    background-color: #fff;
    width: 300px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }
  .nav-top.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav__item {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }
  .header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1em 0.5em;
  }
  .header__menu svg {
    width: 32px;
    fill: #E0E0E0;
  }

  .header__inner {
    height: 75px;
  }
}

@media screen and (min-width: 550px) {
  
.header__inner {
  justify-content: flex-start;
  height: 100px;
}

  .hero {
    order: 0;
    width: 60%;
  }
  .weather {
    order: 1;
    width: 40%;
  }

  a#menu svg {
        display: none;
      }
}

@media screen and (min-width: 700px) {
  .hero {
    width: 60%;
  }
  .top-news {
    order: 1;
    width: 40%;
  }
  .scores {
    order: 2;
    width: 60%;
  }
  .weather {
    order: 3;
  }
}

@media screen and (min-width: 850px) {
  main, .header__inner, .nav-top, .content {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}


/* I tried soooo hard so that the first media query would be a min-width in keeping 
with the ideals of mobile first - but even this solution uses a max-width - I'm so disapointed!!!*/



/* reposition back to normal spot
 * main will grow to fit the rest of the viewport*/

      /* If there is enough space (> 600px), we keep the drawer open all the time. */
/*@media screen and (min-width: 600px;) {

 /* We open the drawer. try pos absolute instead of relative */
/*  .nav-top {
    position: absolute;
    transform: translate(0, 0);
      -webkit-transform: translate(0, 0);

 width: 100%;
  margin-left: auto;
  margin-right: auto;

  }*/

  